In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
from scipy.stats import chi2_contingency

In [2]:
f = open("bad_political_words.txt")
text = f.read().split()
f.close()

In [3]:
bad_df = pd.DataFrame()
bad_df['word'] = text
bad_df['word'] = bad_df['word'].drop_duplicates()
bad_df['word'] = bad_df['word'].fillna('0')
bad_df = bad_df[bad_df['word'] != '0']

In [4]:
bad_df

             word
0     abandonment
1      aberration
2          abject
3         absence
4         abusive
...           ...
1049  frustrating
1050        fussy
1051     gloating
1052     grudging
1053       guilty

[1054 rows x 1 columns]

In [5]:
f = open("bad_political_words.txt", 'w')
for i in bad_df['word']:
    f.write(i.lower() + "\n")
    
f.close()

In [6]:
f = open("good_political_words.txt")
text = f.read().split()
f.close()

In [7]:
good_df = pd.DataFrame()
good_df['word'] = text
good_df['word'] = good_df['word'].drop_duplicates()
good_df['word'] = good_df['word'].fillna('0')
good_df = good_df[good_df['word'] != '0']

In [8]:
f = open("good_political_words.txt", 'w')
for i in good_df['word']:
    f.write(i.lower() + "\n")
    
f.close()

In [9]:
good_df

               word
0          progress
1        prosperity
2             unity
3       empowerment
4    transformation
..              ...
856        splendid
857     spontaneous
858         stellar
859         sublime
860      sufficient

[861 rows x 1 columns]

In [10]:
f = open("good_political_words.txt")
text = f.read().split()
f.close()

In [11]:
good_df = pd.DataFrame()
good_df['word'] = text
good_df

               word
0          progress
1        prosperity
2             unity
3       empowerment
4    transformation
..              ...
856        splendid
857     spontaneous
858         stellar
859         sublime
860      sufficient

[861 rows x 1 columns]